* {
    margin: 0;
    box-sizing: border-box;
}
.conteiner {
    max-width: 1200px;
    background-color: burlywood;
    padding: 10px;
    margin: 0 auto;
    min-height: 100vh;
}
.conteiner::after {
    content: "";
    display: block;
    clear: both;
}
.one, .two, .three {
    float: left;
    height: 50vh;
}
.one {
    background: orangered;
    width: 33%;
}
.two {
    background: blueviolet;
    width: 33%;
}
.three {
    background: brown;
    width: 33%;
}

@media (max-width: 800px) {
    .conteiner {
        background: green;
    }
    .one, .two {
        width: 50%;
        margin-bottom: 20px;
    }
    .three {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .conteiner {
        background: orange;
    }
    .one, .two {
        width: 100%;
    }
}